<div class="center jumbotron">
    <h1>Take Control</h1>
    <p>The top new stories as rated by your peers through our Consensus Engine. Replace fake news with stories that don't ignore the facts and don't forget what is important. Start reading quality news below or take control and become a curator by signing up today. Learn more about curation by clicking on the About tab.</p>
</div>
<div class="container">
  <% @entries.order! 'score DESC' %>
  <% @entries.each do |entry| %>
    <% if (entry.published != nil) then %>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="picture">
            <img src="<%= entry.content %>", style="width:200px;height:120px;">
          </div>
          <div class="information">
	    <div class="info-element">
	      <p><%= link_to entry.title, entry.url %></p>
            </div>
            <div class="info-element">
	      <i> Published <%= time_ago_in_words(entry.published) %> ago</i>
            </div>
            <div class="info-element">
	    <% if logged_in? %>
	      <% if already_rated?(entry, current_user) %>
	        <p>
		  <%= link_to "Adjust Rating", 
		      edit_rating_path(my_rating(entry, current_user)) %>
		</p>
	      <% else %>
	        <p>
		  <%= link_to "Rate", new_rating_path(:entry => entry.id) %>
		</p>
              <% end %>
	    <% end %>
            </div>
	  </div>
	  <div class="score">
	    <p><%= entry.score.round(1) %></p>
	  </div>
	</div>
      </div>
    <% end %>
  <% end %>
  <div class="pager"> 
    <%= will_paginate %>
  </div>
</div>
  
