<div class="center jumbotron">
  <p>Here are today's top stories:</p>
  <div class="container">
    <% @entries.order! 'score DESC' %>
    <%= will_paginate %>
    <% @entries.each do |entry| %>
      <% if (entry.published != nil) then %>
        <div class="panel panel-default">
          <div class="panel-body">
	    <div class="title">
            <%= link_to entry.title, entry.url %> - <i> published <%= time_ago_in_words(entry.published) %> ago.</i>
	    </div>
	    <div class="score">
	      <%= entry.score %>
	    </div>
	  </div>
        </div>
      <% end %>
    <% end %>
    <%= will_paginate %>
  </div>
</div>
